<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <title><%= htmlWebpackPlugin.options.title %></title>

  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#F0F5FA">

  <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
  <% } %>

  <% for (var chunk of webpack.chunks) {
    for (var file of chunk.files) {
      if (file.match(/\.(js|css)$/)) { %>
        <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% }}} %>
</head>
<body>
  <noscript>
    <header>
      <h1>Hi! My name is Veronika</h1>
      <h3>I am design-oriented <em>front-end deveveloper</em></h3>
    </header>
    <main>
      <h4>You can contact me with the following links:</h4>
      <ul style="margin: 0 16px">
        <li>
          <a href="mailto:vervaspro@icloud.com"
          rel="noreferrer"
          target="_blank">Email: vervaspro@icloud.com</a>
        </li>
        <li>
          <a href="https://www.facebook.com/nika.FE.tips/"
          rel="noreferrer"
          target="_blank">Facebook: Front-end tips</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/veronika-novikova/"
          rel="noreferrer"
          target="_blank">Linkedin: Veronika Novikova</a>
        </li>
      </ul>
      <h4>Vie my works on:</h4>
      <ul style="margin: 0 16px">
        <li><a href="https://github.com/niktariy"
          target="_blank">GitHub</a>
        </li>
        <li><a href="https://codepen.io/niktariy/"
          target="_blank">Codepen.io</a>
        </li>
      </ul>
    </main>
    <footer>
      <p>
        You need to enable JavaScript to view full app.
      </p>
    </footer>
  </noscript>
  <div id="app"></div>
</body>
</html>
